<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/todo.css">
    <link rel="stylesheet" href="../css/modalWindow.css">
    <link href="https://fonts.googleapis.com/css?family=Cute+Font|Roboto:300,400&amp;subset=latin-ext" rel="stylesheet">
    <title>Safety Life List</title>
</head>

<body>
<!-- Main container -->
<div class="container">
    <!-- Menu with register / login system -->
    <section class="container__menu">
        <a href="#">
            <i class="fas fa-hard-hat"></i>
            Safety Life List
        </a>
        <a href="#" onclick="logOut()">
            <i class="fas fa-sign-out-alt"></i>
            Log out
        </a>
        <button onclick="clear(event)" id="clear" title="Wyczyść wszystko"><i class="fas fa-trash"></i></button>
    </section>

    <!-- Tables with tasks -->
    <section class="container__tasks">
        <!-- To Do container -->
        <section class="container__todo">
            <h1><i class="fas fa-th-list"></i><br/> ToDo</h1>
            <div class="task" id="todo" ondrop="drop(event)" ondragover="allowDrop(event)">

                {{#todos}}
                    <div class="task__description" draggable="true" ondragstart="drag(event)" id="drag{{_id}}" task_id={{id}}>
                        <p>{{content}}</p>
                        <div class="edit-close">
                            <button class="open_modal_edit">
                            <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="delete_task" onclick="handleClick('{{id}}')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                {{/todos}}
                
            </div>
            <div class="task__add">
                <button class="open-modal" type="button"><i class="fas fa-plus-square"></i> Add a card</button>
                <!-- Modal Window -->
                <div id="modal-window" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <form id="add_task" action="{{userId}}" method="post">
                            <input type="text" name="content" placeholder="Tutaj wpisz zadanie">
                            <select name="isDone" id="select">
                                <option value="to do">to do</option>
                                <option value="in progress">in progress</option>
                                <option value="done">done</option>
                            </select>
                            <p id="error"></p>
                            <button type="submit" id="submit-task"><i class="fas fa-plus-square"></i> Add a task
                            </button>
                        </form>
                    </div>
                </div>
            </div>
             <!-- Modal Window for editing -->
                <div id="modal-edit" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <form id="edit_task" action="{{userId}}" method="put">
                            <input type="text" name="content" id="content">
                            <select name="isDone" id="select">
                                <option value="to do">to do</option>
                                <option value="in progress">in progress</option>
                                <option value="done">done</option>
                            </select>
                            <p id="error"></p>
                            <button type="submit" class="open-modal" id="edit-task"><i class="fas fa-plus-square"></i> Save a task
                            </button>
                        </form>
                    </div>
                </div>
        </section>

        <!-- In progress container -->
        <section class="container__progress">
            <h1><i class="fas fa-briefcase"></i><br/> In progress</h1>
            <div class="task" id="progress" ondrop="drop(event)" ondragover="allowDrop(event)">

                {{#inprogress}}
                    <div class="task__description" draggable="true" ondragstart="drag(event)" id="drag{{_id}}" task_id={{id}}>
                        <p>{{content}}</p>
                        <div class="edit-close">
                            <button class="open_modal_edit">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="delete_task" onclick="handleClick('{{id}}')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                {{/inprogress}}

            </div>
            <div class="task__add">
                <button class="open-modal" type="button"><i class="fas fa-plus-square"></i> Add a card</button>
            </div>
        </section>

        <!-- Done container -->
        <section class="container__done">
            <h1><i class="fas fa-clipboard-check"></i><br/> Done</h1>
            <div class="task" id="done" ondrop="drop(event)" ondragover="allowDrop(event)">

                {{#done}}
                    <div class="task__description" draggable="true" ondragstart="drag(event)" id="drag{{_id}}" task_id={{id}}>
                        <p>{{content}}</p>
                        <div class="edit-close">
                            <button class="open_modal_edit">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="delete_task" onclick="handleClick('{{id}}')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                {{/done}}

            </div>
            <div class="task__add">
                <button class="open-modal" type="button"><i class="fas fa-plus-square"></i> Add a card</button>
            </div>
        </section>
    </section>

</div>
</body>
<script src="../dragdrop.js"></script>
<script src="../openModal.js"></script>
<script src="../clearBoard.js"></script>
<script src="../deleteTask.js"></script>
<script src="../logOut.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
        crossorigin="anonymous"></script>
</html>
