.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*overflow: auto;
    Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal-content input {
    width: 100%;
    height: 10vh;
    font-family: var(--main_font);
    font-size: 1em;
    padding: 10px;
    border-radius:5px;
    box-shadow: 0 1px 0 rgba(9, 45, 66, .25);
}

.modal-content select {
    width: 100%;
    font-size: 1.2em;
    padding: 0 10px;
    box-shadow: 0 1px 0 rgba(9, 45, 66, .25);
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#add_task {
    height: auto;
}

#add_task input {
    margin-bottom: 20px;
    border-radius: 0;
    background-color: #E2E8E2;
    text-align: left;
    font-size: 12px;
    border: none;
}

#add_task select {
    text-indent: 10px;
    background-color: #E2E8E2;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    padding: 10px 0;
    border: 2px solid #E2E8E2;
}

#add_task select:hover {
    text-indent: 10px;
    background-color: greenyellow;
}

#error {
    font-size: 12px;
    color: #a80601;
    margin-bottom: 20px;
    font-weight: bold;
}